/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
======================================== */

/* 1. Global Styles
======================================== */
* {
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #333333;
}
.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}
.float-right {
  float: right;
}

/* 2. Typography Styles
======================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Barlow Condensed', Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 15px;
  transition: font-size 0.25s ease;
  text-transform: uppercase;
}

h1 {
  font-size: calc(100px / 1.25);
  line-height: 0.85;
}
h2 {
  font-size: calc(65px / 1.25);
  margin-top: 10px;
  line-height: 0.85;
}
@media(min-width: 1024px) {
  h1 {
    font-size: 100px;
  }
  h2 {
    font-size: 60px;
  }
}
p {
  font-family: 'Barlow', Georgia, serif;
  font-size: 16px;
  line-height: 23px;
  margin: 0 0 15px;
}
a {
  font-family: 'Barlow', Helvetica, sans-serif;
  font-size: 16px;
  color: #0D1C32;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  font-family: 'Barlow', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 23px;
  list-style: none;
}
img {
  width: 100%;
}

/* 3. Structure Styles
======================================== */
.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 15px;
}
.container:before, .container:after {
  content: " ";
  display: table;
  clear: both;
}
.mobile-hide {
  display: none;
}
.mobile-show {
  display: block;
}
@media(min-width: 720px) {
  .mobile-hide {
    display: block;
  }

  .mobile-show {
    display: none;
  }
}
/* 4. Modules Styles
======================================== */

/* Site Navigation */
.site-header {
  background-color: #FFFFFF;
  padding: 30px 15px;
}
.site-navigation {
  margin: 0 auto;
  max-width: 1280px;
}
.site-header-left,
.footer-left {
  display: inline-block;
}
.site-header-left li {
  line-height: 0;
}
.site-header-right,
.footer-right {
  display: inline-block;
  float: right;
}
.site-header-right li,
.footer-right li {
  display: inline;
}
.site-header-right li a {
  text-decoration: none;
  margin-left: 20px;
}

/* Site Footer */
.footer {
  background-color: #ECF3FF;
  padding: 30px;
}
.footer-navigation {
  margin: 0 auto;
  max-width: 1280px;
}
.footer-right {
  float: none;
  margin-top: 15px;
}

@media(min-width: 720px) {
  .footer-right {
    float: right;
    margin-top: 0;
  }
}
.footer li {
  line-height: 0;
}
.footer li a {
  text-decoration: none;
  margin-left: 20px;
}

/* 5. Component Styles
======================================== */
button {
  border: none;
}
button:hover {
  cursor: pointer;
}
.button {
  border-radius: 100px;
  display: inline-block;
  font-family: 'Barlow', Helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: normal;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.5s ease;
}
.button:hover {
  opacity: 0.75;
}
.button-primary {
  background-color: #0D1C32;
  color: #FFFFFF;
}
.button-secondary {
  background-color: #627FB0;
  color: #FFFFFF;
}
input {
  border-radius: 100px;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  box-shadow: none;
  transition: border-color 0.5s ease;
  width: 100%;
}

/* 6. Page Styles
======================================== */
.page-hero-header {
  background-color: #627FB0; 
  background-image: url('images/saturn-background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 600px;
  overflow: hidden;
}
.page-hero-header-left, .page-hero-header-right {
  width: 100%;
  text-align: center;
  display: block;
}
.page-hero-header-left {
  padding: 0px 40px;
  color: #FFFFFF;
}
.main-content-benefits {
  padding: 80px 0;
  background-color: #F5F9FF;
}
.main-content-benefits h2 {
  color: #0D1C32;
}
.main-content-info {
  background-color: #627FB0;
  text-align: center;
}
.main-content-info-left {
  max-height: 300px;
  width: 100%;
  overflow: hidden;
}
.main-content-info-right {
  padding: 60px;
  color: #FFFFFF;
  width: 100%;
}
.main-content-cta-left, .main-content-cta-right {
  width: 100%;
  padding: 0 30px;
  text-align: center;
}
.main-content-cta {
  background-color: #0D1C32;
  color: #FFFFFF;
  padding: 80px 0;
}
.cta-container {
  position: relative;
}
.cta-container input {
  width: 100%;
  padding: 23px 30px;
  font-size: 1em;
}
.cta-container button {
  position: absolute;
  right: 10px;
  top: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
}

/* Items */
.item {
  margin-bottom: 30px;
  width: 100%;
  padding: 0 2%;
  text-align: center;
}
.item .item-image {
  background: #FFFFFF;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.05);
  border-radius: 10px;
  width: 100%;
  height: 250px;
}
@media(min-width: 720px) {
  .page-hero-header-left, .page-hero-header-right {
    width: 50%;
    text-align: left;
    display: inline-block;
    float: left;
  }
  .page-hero-header-left {
    padding: 80px;
  }
  .page-hero-header-left p {
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 20px;
  }
  .main-content-info {
    background-image: url('images/space-image.jpg');
    background-repeat: no-repeat;
    background-position: center left;
    background-size:50%;
    text-align: left;
  }
  .main-content-info-right {
    padding: 80px;
    width: 50%;
    float: right;
    display: inline-block;
  }
  .main-content-cta-left, .main-content-cta-right {
    width: 50%;
    float: left;
    display: inline-block;
    padding: 0 30px;
    text-align: left;
  }
  .item {
    float: left;
    margin-bottom: 0;
    width: calc(95%/3);
  }

  .item:not(:last-child) {
    margin-right: 2.5%;
  }
}
